<div class="row">
  <div class="col-lg-4 col-md-6">
    <div class="card">
      <div class="card-header"><i class="fa fa-pencil"></i> Edit</div>
      <div class="card-body">
        <loading-container [loadable]="users$ | async">
          <ng-template [ngIf]="user">
            <div class="form-group">
              <label for="firstname">Firstname</label>
              <input
                type="text"
                name="firstname"
                id="firstname"
                class="form-control"
                [(ngModel)]="user.firstname"
              />
            </div>
            <div class="form-group">
              <label for="lastname">Lastname</label>
              <input
                type="text"
                name="lastname"
                id="lastname"
                class="form-control"
                [(ngModel)]="user.lastname"
              />
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input
                type="text"
                name="email"
                id="email"
                class="form-control"
                [(ngModel)]="user.email"
              />
            </div>
          </ng-template>
        </loading-container>
      </div>
      <div class="card-footer">
        <button type="button" class="btn btn-success" (click)="onSave()">
          Save
        </button>
      </div>
    </div>
  </div>
</div>
